<a href="https://colab.research.google.com/github/hrushikeshsahu19/IPL-data-analysis/blob/main/Hrushikesh_Sahu_Team_3_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Indian Premier League(IPL) is a professional Twenty20 cricket league in India contested during March or April and May of every year by eight teams representing eight different cities in India. The league was founded by the Board of Control for Cricket in India(BCCI) in 2008. </b>

## <b> Explore and analyze the data to discover results and statistics for different teams playing in IPL. </b>

In [ ]:
#import the library
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [49]:
working_directory = '/content/drive/My Drive/AlmaBetter/Cohort Aravali/Module 2/Week 1/dat/'
teams_df = pd.read_csv(working_directory + 'teams.csv')

In [67]:
teams_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   team1   15 non-null     object
dtypes: object(1)
memory usage: 248.0+ bytes

In [68]:
teams_df.describe()

                  team1
count                15
unique               15
top     Deccan Chargers
freq                  1

In [69]:
teams_df.head()

                   team1
0          Pune Warriors
1  Kolkata Knight Riders
2       Rajasthan Royals
3   Kochi Tuskers Kerala
4          Gujarat Lions

In [70]:
teams_df

                          team1
0                 Pune Warriors
1         Kolkata Knight Riders
2              Rajasthan Royals
3          Kochi Tuskers Kerala
4                 Gujarat Lions
5           Chennai Super Kings
6       Rising Pune Supergiants
7              Delhi Daredevils
8               Deccan Chargers
9                Delhi Capitals
10               Mumbai Indians
11          Sunrisers Hyderabad
12       Rising Pune Supergiant
13  Royal Challengers Bangalore
14              Kings XI Punjab

There are 15 teams in our Team data set they are as follows

# 1.Pune Warriors
# 2.Kochi Tuskers Kerala
# 3.Rajasthan Royals
# 4.Kochi Tuskers Kerala
#5.Gujarat Lions
#6.Chennai Super Kings
#7.Rising Pune Supergiants
#8.Delhi Daredevils
#9.Deccan Chargers
#10.Delhi Capitals
#11.Mumbai Indians
#12.Sunrisers Hyderabad
#13.Rising Pune Supergiant
#14.Royal Challengers Bangalore
#15.Kings XI Punjab

In [71]:
working_directory = '/content/drive/My Drive/AlmaBetter/Cohort Aravali/Module 2/Week 1/dat/'
matches_df = pd.read_csv(working_directory + 'matches.csv')

In [72]:
matches_df.head()

   id    Season       city  ...         umpire1        umpire2 umpire3
0   1  IPL-2017  Hyderabad  ...     AY Dandekar       NJ Llong     NaN
1   2  IPL-2017       Pune  ...  A Nand Kishore         S Ravi     NaN
2   3  IPL-2017     Rajkot  ...     Nitin Menon      CK Nandan     NaN
3   4  IPL-2017     Indore  ...    AK Chaudhary  C Shamshuddin     NaN
4   5  IPL-2017  Bangalore  ...             NaN            NaN     NaN

[5 rows x 18 columns]

In [47]:
#load the data 
working_directory = '/content/drive/My Drive/AlmaBetter/Cohort Aravali/Module 2/Week 1/dat/'
deliveries_df = pd.read_csv(working_directory + 'deliveries.csv')

In [50]:
working_directory = '/content/drive/My Drive/AlmaBetter/Cohort Aravali/Module 2/Week 1/dat/'
striker_df = pd.read_csv(working_directory + 'most_runs_average_strikerate.csv')

In [51]:
working_directory = '/content/drive/My Drive/AlmaBetter/Cohort Aravali/Module 2/Week 1/dat/'
df = pd.read_csv(working_directory + 'teamwise_home_and_away.csv')